<?xml version="1.0"?>
<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="WebHost" value="http://localhost:15276/WebSite1/" />
  </appSettings>
  
  <system.webServer>
    <httpErrors errorMode="Detailed" />
    <asp scriptErrorSentToBrowser="true"/>
  </system.webServer>
  
  <connectionStrings>
    <add name="slashmarket" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=slashmarket;Integrated Security=True; MultipleActiveResultSets=True;" />
    <add name="slashmarketConnectionString" connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=slashmarket;Integrated Security=True;MultipleActiveResultSets=True;"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0"/>
	</system.web>
</configuration>
